@font-face {
    font-family: "SourceHanSerifCN-Regular";
    src: url('./SourceHanSerifCN-Regular-1.otf');
}
@font-face {
    font-family: "SourceHanSerifCN-Bold";
    src: url('./SourceHanSerifCN-Bold-2.otf');
}
@font-face {
    font-family: "SourceHanSerifCN-ExtraLight";
    src: url('./SourceHanSerifCN-ExtraLight-3.otf');
}
@font-face {
    font-family: "SourceHanSerifCN-Heavy";
    src: url('./SourceHanSerifCN-Heavy-4.otf');
}
@font-face {
    font-family: "SourceHanSerifCN-Light";
    src: url('./SourceHanSerifCN-Light-5.otf');
}
@font-face {
    font-family: "SourceHanSerifCN-Medium";
    src: url('./SourceHanSerifCN-Medium-6.otf');
}
@font-face {
    font-family: "SourceHanSerifCN-SemiBold";
    src: url('./SourceHanSerifCN-SemiBold-7.otf');
}
